<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>
    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <div>
            <div class="headerTitle" onclick="javascript:location.href='../projects.html'">Projects</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
            <!-- <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./esp/contacto.html'"> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">Processing and visualization of census data</div>
            <div class="contractor"></div>
            <div class="client">Para: <a href="https://www.nilus.co/">Nilus</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/python.PNG" alt="">
                <img src="../../../src/image/softwares/Geopandas.PNG" alt="">
                <img src="../../../src/image/softwares/plotly.PNG" alt="">
                <img src="../../../src/image/softwares/matplotlib.PNG" alt="">
                <img src="../../../src/image/softwares/redatam.PNG" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/2_Nilus/nilus-intro.PNG');"></div>
            <div class="introText"> 
                <p>Some way was required to be able to determine if the objectives of the company were being met. It was decided to make graphs with which to determine this situation, or if, on the contrary, the tasks that were being carried out were far from the vision of the company. </p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/2_Nilus/map-data-points-polygons.PNG');"></div>
            <div class="subtitle">Data collection and processing</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/2_Nilus/socio-economic-data.PNG');"></div>
                <div class="explanation"> 
                    <p>Socio-economic data were necessary for the analysis and decision making, for which INDEC census data were downloaded through REDATAM. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/2_Nilus/delivey-point.PNG');"></div>
                <div class="explanation">
                    <p>The data of the delivery points, on which a cleaning was carried out, were provided by Nilus. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/2_Nilus/gis-data-overlay-spatial-join.PNG');"></div>
                <div class="explanation">
                    <p>The data of the delivery points were crossed with the socioeconomic data, such as unemployment, educational level, quality of housing, etc. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/2_Nilus/data-graphics-plots-matplotlib-plotly.PNG');"></div>
            <div class="subtitle"> Data visualization</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/2_Nilus/map-matplotlib-point.polygons.PNG');"></div>
                <div class="explanation"> 
                    <p>In order to visualize the spatial distribution of the points with respect to the different socio-economic variables, maps were made.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/2_Nilus/data-graphic-bar-chart.png');"></div>
                <div class="explanation">
                    <p>Histograms, scatter plots and bar graphs were made to be able to visualize the distribution of a variable of the delivery points or to compare some variables against others, always with respect to the total census radios. </p>
                </div>
            </div>
        </section>
    </main>   
</body>
</html>