<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <div>
            <div class="headerTitle"  onclick="javascript:location.href='../projects.html'">Projects</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
            <!-- <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./esp/contacto.html'"> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">Processing of a LiDAR point cloud.</div>
            <div class="contractor"></div>
            <div class="client">Para: <a href="https://www.droneservices.com.ar/">Drone Services</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/lidar360.png" alt="">
                <img src="../../../src/image/softwares/lastool.png" alt="">
                <img src="../../../src/image/softwares/civil3d.png" alt="">
                <img src="../../../src/image/softwares/arcmap.PNG" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/3_droneservices/lidar-point-cloud-rgb.png');"></div>
            <div class="introText"> 
                <p>In order to provide spatial information of an area where an engineering work would be carried out, a point cloud was captured from a LiDAR device mounted on a Drone and processed. The processing began after the survey, download and calibration of the data; and contemplates the cleaning of the cloud, its classification, and finally the generation of derivative products. </p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/3_droneservices/point-cloud-cleanning-noise-outliers.PNG');"></div>
            <div class="subtitle">Point cloud cleaning</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/point-cloud-outliers.PNG');"></div>
                <div class="explanation"> 
                    <p>Points considered outliers were eliminated - those isolated points which due to their distance from the cloud are not considered part of it. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/point-cloud-noise.PNG');"></div>
                <div class="explanation">
                    <p>A filter and elimination of all the points considered noise was carried out - any point that does not fit the plane generated by the close neighbors, given a certain tolerance - achieving a smoother cloud. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/3_droneservices/drone-lidar-point-cloud-classified-profile.PNG');"></div>
            <div class="subtitle">Point cloud processing</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/point-cloud-classified-ground-points.PNG');"></div>
                <div class="explanation"> 
                    <p>The ground points were classified, first by means of an automatic tool, achieving a first estimation of the terrain, and then carrying out a classification by selection. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/drone-lidar-point-cloud-classified-profile.PNG');"></div>
                <div class="explanation">
                    <p>The buildings and vegetation were classified by means of Machine Learning tools, generating a sample of points on which to train the model. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/drone-lidar-point-cloud-classified.PNG');"></div>
                <div class="explanation">
                    <p>Finally, corrections of the classes were made using the profiles, and the rest of the points were classified based on their height with respect to the ground.</p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/3_droneservices/lidar-point-cloud-dem.PNG');"></div>
            <div class="subtitle">Final product</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/lidar-point-cloud-dem-contour.PNG');"></div>
                <div class="explanation"> 
                    <p>Digital terrain and elevation models, and vector data as contour lines, were generated</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/3_droneservices/point-cloud-civil-3d.PNG');"></div>
                <div class="explanation"> 
                    <p>The data generated were imported into other GIS and CAD software, such as Civil3D, to facilitate designers tasks.</p> 
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>