<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <div>
            <div class="headerTitle" onclick="javascript:location.href='../projects.html'">Projects</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">Topographic survey for landscaping project</div>
            <div class="contractor"></div>
            <div class="client">For: <a href="http://www.estudiothays.com.ar/">Estudio Thays</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/civil3d.png" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/5_Thays/thays-design-proyect.PNG');"></div>
            <div class="introText"> 
                <p>The project included the design of the park, the construction of a country house and a tennis court, which required a survey of the existing objects to define the correct location of the perimeter fences. <br>A topographic survey was carried out, on which the project was adjusted, and finally the stakes were placed in the vertices of the property. </p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/5_Thays/Thays.PNG');"></div>
            <div class="subtitle">Survey</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/5_Thays/surveeyin-total-station-cross.PNG');"></div>
                <div class="explanation"> 
                    <p>A survey of the site was carried out, using a Trimble M3 Total Station, for which initially a reference system materialized from four stakes was built. Some buildings measurements were made with tape measure.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/5_Thays/surveying-cad-drawing.PNG');"></div>
                <div class="explanation">
                    <p>After the survey was completed, the data was downloaded and a map of the existing events was made, which was used by the designer to adjust the project. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/5_Thays/surveying-stakes-line.PNG');"></div>
            <div class="subtitle">Stakeout</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/5_Thays/surveying-total-station-trimble-m3.PNG');"></div>
                <div class="explanation"> 
                    <p>After adjusting the project, a stakeout of each of the vertices of the fences and gates to be placed was carried out, materializing each one with a stake.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/5_Thays/surveying-stake-number.PNG');"></div>
                <div class="explanation"> 
                    <p>The wooden stakes of 5cmx5cm by 120cm high, had the name assigned according to the plan written on the surface, and a plastic sheet attached to them.</p> 
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>