<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../src/style/general.css">
    <link rel="stylesheet" href="../src/style/cv.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 10px 40px; ">
        <a class="navbar-brand headerLogoText" href="../index.html">DIEGO CASTELLARI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link navbutton" href="../index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbutton" href="./cv.html">WHAT I DO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbutton" href="./projects.html">WHAT I'VE DONE</a>
                </li>
            </ul>            
        </div>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../src/image/icon/linkedin.png" alt=""></a>
            <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../src/image/icon/Notion-logo.svg.png" alt=""></a>
        </div>
    </nav>

<!--     <header>
        <div class="headerLogo" onclick="javascript:location.href='../index.html'">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <menu class="navmenu">
            <button class="navbutton" onclick="javascript:location.href='../index.html'">HOME</button>
            <button class="navbutton" onclick="javascript:location.href='./cv.html'">WHAT I DO</button>
            <button class="navbutton" onclick="javascript:location.href='./projects.html'">WHAT I'VE DONE</button>
        </menu>

        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../src/image/icon/linkedin.png" alt=""></a>
            <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../src/image/icon/Notion-logo.svg.png" alt=""></a>
        </div> 

    </header> -->
    <main>
        <section class="name">
            <h1 class="phraseTitle">DIEGO MANUEL CASTELLARI </h1>
            <h2 class="phraseSubTitle">Inquisitive drifter </h2>
            <h3 class="phraseText">I'm curious about almost everything. I like the world: phisics, nature, history, space, animals, philosophy; I like music and playing instruments (guitar and cello), reading, playing boardgames and almost all kind of sport. My curiosity always keep taking me from here to there...</h3>
        </section>

        <div class="container marketing">
            <hr class="featurette-divider">
            <br>
            <div class="row featurette" >
                <div class="col-md-7" style="color:white">
                    <h2 class="featurette-heading fw-normal lh-1" style="color:white">The Young Me</h2>
                    <p class="lead" style="color:white">I grew up in a small town (8k people), General Pinto, in a rural area. I was a good student (nothing impresive considering the school level). There weren't to many things to do, so I spent most the time being with friends, doing sports, playing videogames, and watching TV. I really like movies and documentaries.
                </div>
                <div class="col-md-5">
                    <img src="../src/image/aboutme/GP.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2" style="color:white">
                    <h2 class="featurette-heading fw-normal lh-1" style="color:white">Falling Into University </h2>
                    <p class="lead" style="color:white">In 2008, I started the career Land Surveing Engineering at the UNLP. With 18 years old, my expectations about the career and a university degree were realy low; my north in life was really unclear. I remember everyone asked me why I'd chosen that career, and at that moment I didn't know what to answer -and I still don't know-. I'm interested in so many things, that if I have the chance to come back 100 times, I'd a 100 different carrers. The best subjects were geodesy, hidrography and GIS. At the end, I gradueted with honors, being the best student of the year in my career. 
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../src/image/aboutme/UNLP.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7" style="color:white">
                    <h2 class="featurette-heading fw-normal lh-1" style="color:white">First Steps Working</h2>
                    <p class="lead" style="color:white">I started my working life as a surveyor in a building, and then surveying electric lines and pipes. It's a quiet, no stressing job, but I always felt there's somthing missing. There was no challenge. After some years, I decided to start the Geomatic Master, to try a career change. The master was the same as in grade career, but I discovered a new path that could be interesting, and that could take whereever I wanted.
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../src/image/aboutme/GPS.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2" style="color:white">
                    <h2 class="featurette-heading fw-normal lh-1" style="color:white">Discovering the Data Universe </h2>
                    <p class="lead" style="color:white">Doing some data and geostaditic analysis in the master, opened my eyes to the world of data, and after some curiosity research I found out the data science universe. My curiosity keep invetigating, and I don't even realize that I really like playing with data, but that also I could use this in any field I like. So I made a course in Data Science, and from that day I didn't stop.
                    </p>
                 </div>
                <div class="col-md-5 order-md-1">
                    <img src="../src/image/aboutme/DATA.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7" style="color:white">
                    <h2 class="featurette-heading fw-normal lh-1" style="color:white">Nowadays...</h2>
                    <p class="lead" style="color:white">I'm living in my small and quiet hometown, working remotely and carrying a simple life, near to my family and most of my friends. I'm still surfing in this data universe, although my curiosity keeps pushing me to parallel worlds, and the doubt of new and/or better posibilities arises. I know I like the spatial data science career, so I always try to merge the knowledges. More importa that the what, it's the why and for what, so I'm still looking for the perfect field of application to work.  
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../src/image/aboutme/NOWADAYS.JPG"  alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <br>
            <hr class="featurette-divider">
        </div>
    </main>
</body>

<script src="../src/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html>