<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/servicesTypes.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index_esp.html'">
            <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <div>
            <div class="headerTitle">Servicios</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='contacto.html'">Contacto</div> -->
            <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./eng/services.html'">
        </div>
    </header>
    <main>
        <section class="whatDescription">
            <div class="whatTitle">Qué hago?</div><br>
            <div class="whatText">Como Ingeniero Geomático, diseño soluciones a sus necesidades específicas, aportando valor a sus proyectos por medio del procesamiento y visualización de los datos geográficos. </div>
        </section>

        <section class="services servicesSurvey">
            <img class="servicesImg" src="../../src/image/servicies/Surveying.PNG" alt="">
            <div class="servicesText">
                <div class="doTitle" onclick="javascript:location.href='servicesSurveying.html'">Relevamientos</div><br><br>
                <div class="doPara"> Escaneando y midiendo un mundo, en constante cambio y evolución, para brindarle a usted datos precisos y actualizados que le ayuden a mejorar el diseño de la solución y el proceso de toma de decisiones. (topografía, geodesia, hidrografía, drone) </div><br><br>
                <!-- <div class="goService" onclick="javascript:location.href='serviciosAgrim.html'">Más detalles...</div> -->
            </div>
        </section>
        <section class="services servicesAnalysis">
            <div class="servicesText">
                <div class="doTitle"  onclick="javascript:location.href='servicesAnalysis.html'">Análisis Geoespacial</div><br><br>
                <div class="doPara"> Ya sean datos estructurados, imágenes, nube de puntos, utilizando técnicas de análisis de datos y aprendizaje automático para generar nueva información y permitirle generar conocimiento a partir de ella. (limpieza de datos, análisis de datos, procesamiento de datos, aprendizaje automático)</div><br><br>
                <!-- <div class="goService"  onclick="javascript:location.href='serviciosAnalysis.html'">Más detalles...</div> -->
            </div>
            <img class="servicesImg" src="../../src/image/servicies/Analysis2.PNG" alt="">
        </section>
        <section class="services servicesVisual"> 
            <img class="servicesImg" src="../../src/image/servicies/Visualization.PNG" alt="">
            <div class="servicesText">
                <div class="doTitle"  onclick="javascript:location.href='servicesVisual.html'">Visualización</div><br><br>
                <div class="doPara">"Una imagen vale más que mil palabras ". La información que se muestra en gráficos y mapas se procesa más fácilmente, lo que le permite comprenderla mejor. (Informes de datos, dibujos técnicos, modelos 3d, mapas web, paneles de control) </div><br><br>
                <!-- <div class="goService"  onclick="javascript:location.href='serviciosVisual.html'">Más detalles...</div> -->
            </div>
        </section>
    </main>
</body>
</html>