main{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/***************************************************************************************/
/**************************************** TITLE ****************************************/
main .title {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
    background-position: center;
    filter:  contrast(130%);
}

main .title .title_data{
    width: 100%;
    background-color: rgba(248, 248, 248, 0.75);
    padding-left: 20%;
}

main .title .title_data .name {
    color: #103F53;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}
main .title .contractor {
    color: #103F53;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
main .title .client {
    color: #103F53;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
main .title .team {
    color: #103F53;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
main .title .team  li {
    margin-left: 30px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
main .title .softwares {
    /* align-self: flex-end; */
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
main .title .softwares img {
    height: 60px;
    margin: 15px;
}


@media (max-width: 800px) {
    main .title .title_data .name {
        font-size: 30px;
    }
    main .title .contractor {
        font-size: 20px;
    }
    main .title .client {
        font-size: 20px;
    }
    main .title .team {
        font-size: 20px;
    }
    main .title .team  li {
        font-size: 16px;
    }

    main .title .softwares {
        flex-direction: column;
        margin-top: 0px;
    }
    main .title .softwares img {
        height: 40px;
        margin: 5px;
    }
  }
/***************************************************************************************/
/**************************************** DESCRIPTION **********************************/
main .intro {
    background-color: #0098BE;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
main .intro .introImg{
    background-image: url("../../src/image/projects/thays/Thays.PNG");
    background-size: 100% auto;
    background-position: center;
    filter:  contrast(130%);
    height: 600px;
    width: 100%;
}
main .intro .introText{
    /* height: 350px; */
    width: 100%;
    padding: 70px 20%; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}
main .intro .introText h2 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

/***************************************************************************************/
/**************************************** Lessons *************************************/

main .subtitle {
    color: #02C6B3;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

/***************************************************************************************/
/**************************************** CHAPTERS *************************************/
main .chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
main .chapter .chapterImg {
    background-image: url("../../src/image/projects/thays/Thays.PNG");
    background-size: 100% auto;
    background-position: center;
    filter:  contrast(130%);
    height: 350px;
    width: 100%;
}
main .chapter .subtitle {
    color: #0098BE;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}
main .chapter .part {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
main .chapter .part .picture {
    background-image: url("../../src/image/projects/thays/Thays.PNG");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px 1px rgb(165, 165, 165);
    filter:  contrast(130%);
    width: 400px;
    height: 250px;
    
}
main .chapter .part .explanation {
    padding-left: 30px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}
main .chapter .part .explanation p {
    color: gray;
    font-family: sans-serif;
    font-size: 25px;
}