<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/contact.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <div>
            <div class="headerTitle">Contact</div>
        </div>
        <div class="headerNav">
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='../esp/contacto.html'">
        </div>
    </header>
    <main>
        <div class="sendMail">
            <form action="https://formsubmit.co/agrimcastellari@gmail.com" method="POST">
                <label for="">Name</label><br>
                <input type="text"><br><br>
                <label for="">Email</label><br>
                <input type="email"><br><br>
                <label for="">Message</label><br>
                <textarea id="story" name="story" rows="5" cols="33"></textarea><br><br>
                <button type="submit">Send</button>
            </form>
            
        </div>
        
        <div class="shorcuts">
            <img class="photoSelf" src="../../src/image/contact/Foto111.png" alt="">
            <a href=""><img class="iconIG" src="../../src/image/icon/instagram.png" alt=""></a>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
        </div>
    </main>
</body>
</html>