<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/style/home.css">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/cv.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <!-- <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt=""> -->
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <menu class="navmenu">
            <button class="navbutton" onclick="javascript:location.href='../../index.html'">HOME</button>
            <button class="navbutton" onclick="javascript:location.href='./projects.html'">WHAT I'VE DONE</button>
        </menu>

        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href=""><img class="iconIG" src="../../src/image/icon/instagram.png" alt=""></a>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <!-- <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div>
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='../esp/servicios.html'">-->
        </div> 
    </header>
    <main>

        <section class="name">
            <div class="phraseTitle">DIEGO MANUEL CASTELLARI</div>
            <div class="phraseSubTitle">Surveyor - Geomatic Engineer </div>
            <div class="phraseText">Interested in geographic data and how it can be used to improve society and enviroment. Curious, always learning somethong new and new ways of solve problems. Attentive to details, always trying to improve working and control processes.</div>
        </section>

        <section class="whatDescription">
            <div class="whatTitle">What I do?</div><br>
            <div class="whatText">As a Geomatic Engineer, I design solutions to your specific needs, adding value to your projects through the processing and visualization of geographic data. </div>
        </section>

        <section class="whatDescription">
            <div class="whatTitle">Areas of Knowledge</div><br>
            <div class="whatText">
                <ul>
                    <li>Field data surveying and data processing to capture data: topography, geodesy, photogrametry, LiDAR.</li>
                    <li>Technical drawing (plan) in CAD.</li>
                    <li>Geographic data cleanning, processing and analysis, using geotools, python and machine learning.</li>
                    <li>Database design and implementation.</li>
                    <li>Visualizations (charts, maps and dashboards) design and creation.</li>
                    <li>Apps research, design and low-level prototyping.</li>
                </ul>    
            </div>
        </section>
        <section class="whatDescription">
            <div class="whatTitle">Formation</div><br>
            <div class="whatText">
                <ul>
                    <li>Surveying Engineering - UNLP (Arg.) **distinguished graduate**</li>
                    <li>Master in Geomatics - UNLP (Arg.) ** no degree, still owing thesis **</li>
                    <li>Data Science - Digital House</li>
                    <li>Full Stack - Digital House</li>
                    <li>SQL - Coderhouse</li>
                </ul>    
            </div>
        </section>
        <section class="whatDescription">
            <div class="whatTitle">Experience</div><br>
            <div class="whatText">
                <div class="expitem">
                    <div class="exptitle">IGEO : Feb 2019 - Feb 2023</div>
                    <div class="expdesc">
                        GIS technician using ArcGIS technology, in cadastral, roads and gas aplications.
                        <ul>
                            <li>Geographic data processing.</li>
                            <li>Database analysis, design and implementation.</li>
                            <li>Building geograpchi processes</li>
                            <li>App design and testing</li>
                            <li>Publush geographic services.</li>
                        </ul>
                    </div>
                </div>
                <div class="expitem">
                    <p class="exptitle">IGEO : Feb 2020 - Feb 2022</p>
                    <div class="expdesc">
                        <ul>
                            <li>Field data surveying and data processing to capture data: topography, geodesy, photogrametry, LiDAR.</li>
                            <li>Technical drawing (plan) in CAD.</li>
                            <li>Geographic data cleanning, processing and analysis, using geotools, python and machine learning.</li>
                            <li>Database design and implementation.</li>
                            <li>Visualizations (charts, maps and dashboards) design and creation.</li>
                            <li>Apps research, design and low-level prototyping.</li>
                        </ul> 
                    </div>
                </div>
                   
            </div>
        </section>
        <section class="softimg">
            <!-- sotfwares -->
            <img class="softimgitem" src="../../src/image/softwares/civil3d.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/terrasolid.jpg" alt="">
            <img class="softimgitem" src="../../src/image/softwares/lastool.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/qgis.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/arcgispro.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/arcpy.PNG" alt=""> 
            <!-- code -->
            <img class="softimgitem" src="../../src/image/softwares/vscode.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/jupyter.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/python.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/pandas.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/Geopandas.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/matplotlib.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/plotly.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/opencv.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/scikitlearn_logo.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/pytorch.PNG" alt="">
            <!-- database -->
            <img class="softimgitem" src="../../src/image/softwares/sql.jpg" alt="">
            <img class="softimgitem" src="../../src/image/softwares/postgreSQL_PostGIS.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/MySQL.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/sqlserver.PNG" alt="">
            <img class="softimgitem" src="../../src/image/softwares/dbarchitect.PNG" alt="">
            <!-- webdev -->
            <img class="softimgitem" src="../../src/image/softwares/HTML.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/JS.jpg" alt="">
            <img class="softimgitem" src="../../src/image/softwares/CSS.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/leaflet.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/node.png" alt="">
            <img class="softimgitem" src="../../src/image/softwares/figma.PNG" alt="">
        </section>
    </main>
</body>
</html>