<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="../../src/data/slidesData.js" ></script>
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        
        <div>
            <div class="headerTitle">Projects</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div> -->
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt=""  onclick="javascript:location.href='../esp/proyectos.html'">
        </div>
    </header>
    <main class="content">
        <section class="proyContent">
            <div class="projectSelector">
                <div class="marco">
                    <div class="title">PROJECT NAME</div>
                    <div class="content">DESCRIPTION-ver</div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../src/data/projects.js"></script>
    <script src="../../src/javascript/projectsShow.js"></script>

</body>
</html>