<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../src/style/general.css">
    <link rel="stylesheet" href="../src/style/services.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../index.html'">
            <img class="headerLogoImg" src="../src/image/logo/logo.png" alt="">
            <div class="headerLogoText">ADRIFT</div>
        </div>
        
        <div>
            <div class="headerTitle">Visualization Services</div>
        </div>
        <div class="headerNav">
            <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div>
            <!-- <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./esp/contacto.html'"> -->
        </div>
    </header>
    <main>
        <section class="whatDescription">
            <div class="whatTitle">What I do?</div><br>
            <div class="whatText">
                <div class="whatSubtitle">Visualization</div>  
                <div>
                    "A picture is worth a thousand words". Information shown in charts and maps is more easily procesed, letting you make a better understanding of it.
                </div>  
            </div>
        </section>

        <section class="services topography">
            <img class="servicesImg" src="../src/image/servicies/Surveying.PNG" alt="">
            <div class="servicesText">
                <div class="doTitle">Data Reports</div><br>
                <div class="doPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis eaque nesciunt magnam reiciendis omnis non. Vero porro ducimus accusamus excepturi placeat sint nisi neque. Tempore ipsum repellat culpa dolor obcaecati.
                Sequi repellat ex, odio dignissimos accusantium eum, quis saepe mollitia pariatur hic error quam ad unde, quasi voluptatem earum ipsa ea aut.  </div>
            </div>
        </section>
        <section class="services geodesy">
            <div class="servicesText">
                <div class="doTitle">Technical Drawing</div><br><br>
                <div class="doPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis eaque nesciunt magnam reiciendis omnis non. Vero porro ducimus accusamus excepturi placeat sint nisi neque. Tempore ipsum repellat culpa dolor obcaecati.
                    Sequi repellat ex, odio dignissimos accusantium eum, quis saepe mollitia pariatur hic error quam ad unde, quasi voluptatem earum ipsa ea aut.  </div>
            </div>
            <img class="servicesImg" src="../src/image/servicies/Analysis2.PNG" alt="">
        </section>
        <section class="services hydrography"> 
            <img class="servicesImg" src="../src/image/servicies/Visualization.PNG" alt="">
            <div class="servicesText">
                <div class="doTitle">3d Models</div><br><br>
                <div class="doPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis eaque nesciunt magnam reiciendis omnis non. Vero porro ducimus accusamus excepturi placeat sint nisi neque. Tempore ipsum repellat culpa dolor obcaecati.
                    Sequi repellat ex, odio dignissimos accusantium eum, quis saepe mollitia pariatur hic error quam ad unde, quasi voluptatem earum ipsa ea aut.  </div>
            </div>
        </section>
        <section class="services drone">
            <div class="servicesText">
                <div class="doTitle">WebMaps</div><br><br>
                <div class="doPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis eaque nesciunt magnam reiciendis omnis non. Vero porro ducimus accusamus excepturi placeat sint nisi neque. Tempore ipsum repellat culpa dolor obcaecati.
                    Sequi repellat ex, odio dignissimos accusantium eum, quis saepe mollitia pariatur hic error quam ad unde, quasi voluptatem earum ipsa ea aut. </div>
            </div>
            <img class="servicesImg" src="../src/image/servicies/Analysis2.PNG" alt="">
        </section>
        <section class="services drone">
            <div class="servicesText">
                <div class="doTitle">Dashboards</div><br><br>
                <div class="doPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis eaque nesciunt magnam reiciendis omnis non. Vero porro ducimus accusamus excepturi placeat sint nisi neque. Tempore ipsum repellat culpa dolor obcaecati.
                    Sequi repellat ex, odio dignissimos accusantium eum, quis saepe mollitia pariatur hic error quam ad unde, quasi voluptatem earum ipsa ea aut. </div>
            </div>
            <img class="servicesImg" src="../src/image/servicies/Analysis2.PNG" alt="">
        </section>
    </main>
</body>
</html>