<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projectPage.css">

    

</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <!-- <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt=""> -->
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <menu class="navmenu">
            <button class="navbutton" onclick="javascript:location.href='../../index.html'">HOME</button>
            <button class="navbutton" onclick="javascript:location.href='../aboutme.html'">ME</button>
            <button class="navbutton" onclick="javascript:location.href='../cv.html'">WHAT I DO</button>
            <button class="navbutton" onclick="javascript:location.href='../projects.html'">WHAT I'VE DONE</button>
        </menu>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <!-- <a href=""><img class="iconIG" src="../../../src/image/icon/instagram.png" alt=""></a> -->
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <!-- <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../../src/image/icon/Notion-logo.svg.png" alt=""></a> -->
            <!-- <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div>
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='../esp/servicios.html'">-->
        </div> 
    </header>
    <main>

        <section class="title" style="background-image: url('../../src/image/projects/07_droneservices/intro.JPG');">
            <div class="title_data">
                <div class="name">Processing of a LiDAR point cloud</div>
                <div class="client">For: <a href="https://www.ypf.com/Paginas/home.aspx">YPF</a></div>
                <div class="contractor">With: <a href="https://www.droneservices.com.ar/">Drone Services</a></div>
            </div>
            <div class="softwares">
                <img src="../../../src/image/softwares/lidar360.png" alt="">
                <img src="../../../src/image/softwares/lastool.png" alt="">
                <img src="../../../src/image/softwares/civil3d.png" alt="">
                <img src="../../../src/image/softwares/arcmap.PNG" alt="">
            </div>
        </section>

        <section class="intro">
            <div class="introText"> 
                <p>In order to provide spatial information of an area where an engineering work would be carried out, a point cloud was captured from a LiDAR device mounted on a Drone and processed. The processing began after the survey, download and calibration of the data; and contemplates the cleaning of the cloud, its classification, and finally the generation of derivative products.</p>
            </div>
        </section>

        <div class="subtitle">Process</div>
        <div class="container marketing">
            <!-- <hr class="featurette-divider"> -->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Point cloud cleaning <span class="text-body-secondary"></span></h2>
                    <p class="lead">A filter and elimination of all the points considered noise was carried out - any point that does not fit the plane generated by the close neighbors, given a certain tolerance - achieving a smoother cloud. 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/07_droneservices/pointcloud.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> Point cloud processing<span class="text-body-secondary"></span></h2>
                    <p class="lead">The ground points were classified, first by means of an automatic tool, achieving a first estimation of the terrain, and then carrying out a classification by selection. The buildings and vegetation were classified by means of Machine Learning tools, generating a sample of points on which to train the model. Finally, corrections of the classes were made using the profiles, and the rest of the points were classified based on their height with respect to the ground.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/07_droneservices/classification.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Final product</span></h2>
                    <p class="lead">Digital terrain and elevation models, and vector data as contour lines, were generated. The data generated were imported into other GIS and CAD software, such as Civil3D, to facilitate designers tasks.
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/07_droneservices/surface_objects.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
    </main>
</body>

<script src="../../src/assets/dist/js/bootstrap.bundle.min.js"></script>

</html>