<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/style/home.css">

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 10px 40px; ">
        <a class="navbar-brand headerLogoText" href="../index.html">DIEGO CASTELLARI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                <a class="nav-link navbutton" href="../../index.html">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../aboutme.html">ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbutton" href="../cv.html">WHAT I DO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../projects.html">WHAT I'VE DONE</a>
                </li>
            </ul>            
        </div>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../src/image/icon/Notion-logo.svg.png" alt=""></a>
        </div>
    </nav>
    
    <main>
        <section class="title">
            <div class="text"> Road images dataset exploration</div>
            <div class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></div>
            <div class="client">For: <a href="https://corredoresvialessa.com.ar/corredores-viales-nacionales">Corredores Viales S.A.</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/arcgispro.PNG" alt="">
                <img src="../../../src/image/softwares/arcpy.PNG" alt="">
                <img src="../../../src/image/softwares/python.PNG" alt="">
                <img src="../../../src/image/softwares/pandas.PNG" alt="">
                <img src="../../../src/image/softwares/matplotlib.PNG" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('http://drive.google.com/uc?export=view&id=1T7byu6msX2gJrURT_jCatBQRzdKJlXoK');"></div>
            <div class="introText"> 
                <p>Around 2.4 million images were available corresponding to 3,500km of national routes, corresponding to sections I to VI, and the quality of this data set was needed to be known, because it would be used for future applications and analysis.</p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('http://drive.google.com/uc?export=view&id=1upNfp6lH4Uvirm54XMlcsgR_lXaREWW0');"></div>
            <div class="subtitle">Merging</div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1vtZlNegopkRXCPDjSOVblRU7Z0a0Vb6y');"></div>
                <div class="explanation"> 
                    <p>The 2.4 million images were grouped into groups of 2000 images, separated by section, route, direction and camera; each group with a metadata csv file.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1T8Gjf7xJM6NRartsHUhU49OJsiEnT6bL');"></div>
                <div class="explanation">
                    <p>All the images were copied to a single location and the files were merged into one.</p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('http://drive.google.com/uc?export=view&id=1tvWLBqm6Ka4JRdagW9kU_V7ve7dul6-J');"></div>
            <div class="subtitle">Exploration</div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1jhXEeppgIwy6ySmQJYmfwqtAf2wszhZV');"></div>
                <div class="explanation">
                    <p>Correction of incorrect values, due to errors in the data or values ​​in different units.</p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1Sb7kT4BYYYc-aVDXfTe7a2IT70y32ePD');"></div>
                <div class="explanation"> 
                    <p>Analysis of grouped information by sections, routes, directions and cameras, to, for example, know the number of images per route.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1Lqg53u5m7oOtq48rJZ3Dgp4ySYhU4ABs');"></div>
                <div class="explanation">
                    <p>Analysis of information from image files and csv data, and the crossing of these two, for example, to determine missing images.</p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('http://drive.google.com/uc?export=view&id=1T7byu6msX2gJrURT_jCatBQRzdKJlXoK');"></div>
            <div class="subtitle">Report</div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1n6NpqCcXeCpKgziBI-vyfldwkvsGAbCi');"></div>
                <div class="explanation">
                    <p>Charts were generated for the report, along with photos and tables, to facilitate the understanding of the data and results. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('http://drive.google.com/uc?export=view&id=1Rx09e2ugRTmViGxV3io-ksfcp2q2FQ5s');"></div>
                <div class="explanation"> 
                    <p>A report was written detailing the analysis carried out, the results found, and the conclusions reached, proposing actions to be taken. </p> 
                </div>
            </div>
        </section>
    </main>  
</body>
</html>