<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projectPage.css">

    

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 10px 40px; ">
        <a class="navbar-brand headerLogoText" href="../../index.html">DIEGO CASTELLARI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                <a class="nav-link navbutton" href="../../index.html">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../aboutme.html">ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbutton" href="../cv.html">WHAT I DO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../projects.html">WHAT I'VE DONE</a>
                </li>
            </ul>            
        </div>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../src/image/icon/Notion-logo.svg.png" alt=""></a>
        </div>
    </nav>

    <main>

        <section class="title" style="background-image: url('../../src/image/projects/13_IGEO_CVSA_imageClean/intro.JPG');">
            <div class="title_data">
                <h1 class="name">Road Images Dataset Exploration</h1>
                <h2 class="client">For: <a href="https://corredoresvialessa.com.ar/corredores-viales-nacionales">Corredores Viales S.A.</a></h2>
                <h2 class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></h2>
            </div>
            <div class="softwares">
                <img src="../../src/image/softwares/python.PNG" alt="">
                <img src="../../src/image/softwares/arcpy.PNG" alt="">
                <img src="../../src/image/softwares/arcgispro.PNG" alt="">
                <img src="../../src/image/softwares/sqlserver.PNG" alt="">
            </div>
        </section>

        <section class="intro">
            <div class="introText"> 
                <h2>Around 2.4 million images were available corresponding to 3,500km of national routes, corresponding to sections I to VI, and the quality of this data set was needed to be known, because it would be used for future applications and analysis.</h2>
            </div>
        </section>

        <div class="subtitle">Process</div>
        <div class="container marketing">
            <!-- <hr class="featurette-divider"> -->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Merging <span class="text-body-secondary"></span></h2>
                    <p class="lead">The 2.4 million images were grouped into groups of 2000 images, separated by section, route, direction and camera; each group with a metadata csv file.All the images were copied to a single location and the files were merged into one. 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/13_IGEO_CVSA_imageClean/images.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Exploration</span></h2>
                    <p class="lead">Correction of incorrect values, due to errors in the data or values ​​in different units. Analysis of grouped information by sections, routes, directions and cameras, to, for example, know the number of images per route. Analysis of information from image files and csv data, and the crossing of these two, for example, to determine missing images. 
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/13_IGEO_CVSA_imageClean/python_coding.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Report</span></h2>
                    <p class="lead">Charts were generated for the report, along with photos and tables, to facilitate the understanding of the data and results. A report was written detailing the analysis carried out, the results found, and the conclusions reached, proposing actions to be taken. 
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/13_IGEO_CVSA_imageClean/barchart.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <div class="subtitle">Result</div>
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <p class="lead">A report was delivered to the client, with all the findings about the images dataset, and all the actions needed to take in order to clean it and make it useful to the following process of machine learning damage detection</p>
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/13_IGEO_CVSA_imageClean/report.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
        
        <div class="subtitle">Lessons</div>
        <div class="list-group" style="margin-bottom: 100px;">
            <a class="list-group-item list-group-item-action list-group-item-success">Learned: using reference linear sistems to locate images to route.</a>
            <a class="list-group-item list-group-item-action list-group-item-success">Learned: avoid using to much "fors" for looping.</a>
            <a class="list-group-item list-group-item-action list-group-item-success">Learned: always end the report with a call to action for each error to fix in the exploration.</a>
            <a class="list-group-item list-group-item-action list-group-item-danger">Errors: the conclution of the report only listed the errors found in the exploration, but give no solution to each one of them.</a>
            <a class="list-group-item list-group-item-action list-group-item-danger">Errors: don't copy files from one computer to another using code (it crashed the server).</a>
            
        </div>


    </main>
</body>

<script src="../../src/assets/dist/js/bootstrap.bundle.min.js"></script>

</html>