<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projectPage.css">

</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <!-- <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt=""> -->
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <menu class="navmenu">
            <button class="navbutton" onclick="javascript:location.href='../../index.html'">HOME</button>
            <button class="navbutton" onclick="javascript:location.href='../cv.html'">WHAT I DO</button>
            <button class="navbutton" onclick="javascript:location.href='../projects.html'">WHAT I'VE DONE</button>
        </menu>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <!-- <a href=""><img class="iconIG" src="../../../src/image/icon/instagram.png" alt=""></a> -->
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <!-- <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../../src/image/icon/Notion-logo.svg.png" alt=""></a> -->
            <!-- <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div>
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='../esp/servicios.html'">-->
        </div> 
    </header>
    <main>

        <section class="title" style="background-image: url('../../src/image/projects/14_IGEO_CVSA_VideoProcess/intro.JPG');">
            <div class="title_data">
                <div class="name">Road Damage Detection from GoPro Video</div>
                <div class="client">For: <a href="https://corredoresvialessa.com.ar/corredores-viales-nacionales">Corredores Viales S.A.</a></div>
                <div class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></div>
            </div>
            <div class="softwares">
                <img src="../../src/image/softwares/python.PNG" alt="">
                <img src="../../src/image/softwares/pandas.png" alt="">
                <img src="../../src/image/softwares/Geopandas.PNG" alt="">
                <img src="../../src/image/softwares/opencv.PNG" alt="">
                <img src="../../src/image/softwares/pytorch.PNG" alt="">
                <img src="../../src/image/softwares/matplotlib.PNG" alt="">
            </div>
        </section>

        <section class="intro">
            <div class="introText"> 
                <p>In the search for a quick and inexpensive methodology to detect road damages, it was decided to carry out a test by capturing a video of the route, and then process its images through machine learning techniques, managing to identify and locate the damage present on the routes.</p>
            </div>
        </section>

        <div class="subtitle">Process</div>
        <div class="container marketing">
            <!-- <hr class="featurette-divider"> -->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Video capture <span class="text-body-secondary"></span></h2>
                    <p class="lead">A GoPro Hero 9 camera was mounted in the front of a vehicle, surveying 50km of route, at low speed. Once the video was downloaded from the camera, the GoPro app was used to separate the telemetry metadata from it (<a href="https://goprotelemetryextractor.com/free/">https://goprotelemetryextractor.com/free/</a>). 
                </div>
                <div class="col-md-5">  
                    <img src="../../src/image/projects/14_IGEO_CVSA_VideoProcess/camara_auto.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Video Processing <span class="text-body-secondary"></span></h2>
                    <p class="lead">One frame per second was extracted from the video, each one being stored individually as an image. From the telemetry data, the position for each image was determined, by means of the video time correlation, generating a geographical layer of them.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/14_IGEO_CVSA_VideoProcess/road.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Machine Learning <span class="text-body-secondary"></span></h2>
                    <p class="lead">The images were processed using an object detection deep learning model, winner of the RDDC global competition (<a href="https://rdd2020.sekilab.global/">https://rdd2020.sekilab.global/</a>), considered as state of the art. As a result, all the images were obtained with the bounding boxes on them, with their label and probability, and a file with each of the bboxes, with their data and the name of the image to which it belongs. A grouping of the damages was made for each image, determining the amount of each type of damage and total damages in each image, which were added to the geographic layer.
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/14_IGEO_CVSA_VideoProcess/machine learning.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <div class="subtitle">Result</div>
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <p class="lead">We develop a cheap, fast and easy way to survey a road and detect the damages in it, without expensive specialized equipment and technicians.
                </div>
                <!-- <div class="col-md-5">
                    <img src="http://drive.google.com/uc?export=view&id=1SyskgE31e8VYrgv_w1dCzbn0YTOB6L1c" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div> -->
            </div>
            <hr class="featurette-divider">
        </div>
        
        <div class="subtitle">Lessons</div>
        <div class="list-group" style="margin-bottom: 100px;">
            <a class="list-group-item list-group-item-action list-group-item-primary">New tool: Pytorch</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">New tool: deep learning model from Sekilab</a>
            <a class="list-group-item list-group-item-action list-group-item-success">Learned: how to work with vide's frames.</a>
            <a class="list-group-item list-group-item-action list-group-item-success">Learned: how to use the pre-trained model for road damage detection.</a>
            <a class="list-group-item list-group-item-action list-group-item-danger">Mistakes: the procedure to test the quality of the result of the model was not good.</a>
            <a class="list-group-item list-group-item-action list-group-item-light">To investigate: how to retrain the Sekilab model with own images.</a>
            <a class="list-group-item list-group-item-action list-group-item-light">To investigate: better way to test results.</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary">Comment: another alternative, maybe with a better result, would be using drones for surveying.</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary">Comment: I must find a way to reach Sekilab people and give them some of the images for their dataset.</a>
            
        </div>


    </main>
</body>

<script src="../../src/assets/dist/js/bootstrap.bundle.min.js"></script>

</html>