<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projectPage.css">

    

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 10px 40px; ">
        <a class="navbar-brand headerLogoText" href="../../index.html">DIEGO CASTELLARI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                <a class="nav-link navbutton" href="../../index.html">HOME</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../aboutme.html">ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbutton" href="../cv.html">WHAT I DO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link navbutton" href="../projects.html">WHAT I'VE DONE</a>
                </li>
            </ul>            
        </div>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../src/image/icon/Notion-logo.svg.png" alt=""></a>
        </div>
    </nav>

    <main>

        <section class="title" style="background-image: url('../../src/image/projects/15_IGEO_CVSA_AppInv/intro.JPG');">
            <div class="title_data">
                <h1 class="name">Road Inventory App Design</h1>
                <h2 class="client">For: <a href="https://corredoresvialessa.com.ar/corredores-viales-nacionales">Corredores Viales S.A.</a></h2>
                <h2 class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></h2>
                <h3 class="team"> Team:
                    <ul>
                        <li>Emilio Clair - Project Director</li>
                        <li>Gustavo Torres - Fullstack Developer</li>
                        <li>Antonio Villar - Geoamtic Eng.</li>
                    </ul>
                </h3>
            </div>
            <div class="softwares">
                <img src="../../src/image/softwares/python.PNG" alt="">
                <img src="../../src/image/softwares/arcpy.PNG" alt="">
                <img src="../../src/image/softwares/arcgispro.PNG" alt="">
                <img src="../../src/image/softwares/arcenterprise.PNG" alt="">
                <img src="../../src/image/softwares/azure.PNG" alt="">
                <img src="../../src/image/softwares/sqlserver.PNG" alt="">
                <img src="../../src/image/softwares/figma.PNG" alt="">
                <img src="../../src/image/softwares/drawio.PNG" alt="">
            </div>
        </section>

        <section class="intro">
            <div class="introText"> 
                <h2>Based on CVSA's need to have a system for better management of inventory data, it was proposed to develop an application that would allow the visualization and exploration of data, both vector and photographic, of the entire road inventory, and a CRUD system.</h2>
            </div>
        </section>

        <div class="subtitle">Process</div>
        <div class="container marketing">
            <!-- <hr class="featurette-divider"> -->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Exploration <span class="text-body-secondary"></span></h2>
                    <p class="lead">A study of documentation and applications of solutions implemented successfully for similar purposes was carried out, with the aim of obtaining ideas and knowledge about needs and requirements. We carry out an exploratory data analysis to find out which information we had to displayed and develop the application.A first meeting with clients was held, in order to ascertain the expectations and requirements that they initially had.
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/exploration.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">App design</span></h2>
                    <p class="lead">The functional requirements were defined, based on the combination of the exploration of similar solutions and the information gathered in the interview. As the first presentation of the proposed solution, a model of the application to be developed was made, which covered all the functional requirements.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/dashboard.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">App validation with client</span></h2>
                    <p class="lead">The proposal was presented to the client, for its validation. From the observations taken, the corrections were made in the model and the functional requirements were refined. Approved the design of the app, the user stories were detailed for the development of the application.
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/complete_app.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Model and services design</span></h2>
                    <p class="lead">With the application already designed, we continued with the design of the data model, map services, webmaps, geoservices, and everything necessary for the development of the application.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/service_design.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Data processing and publication</span></h2>
                    <p class="lead">The data provided by the client was cleaned and processed, and stored in the database, previously created with the designed structure. Map services were published from views to the database, from which the necessary webmaps for the application were created. A map service for the CRUD was also created from the layers. With the services, webmaps and user stories, the application went to development - waiting for it to return for testing. 
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/data_processing.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">App delivery</span></h2>
                    <p class="lead">After the app was tested and put into production, the customer was inducted to it, along with the delivery of the user manual.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/15_IGEO_CVSA_AppInv/complete_app_2.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <div class="subtitle">Result</div>
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <p class="lead">*** Explain result and client respond ***
                </div>
                <div class="col-md-5">
                    <img src="http://drive.google.com/uc?export=view&id=1SyskgE31e8VYrgv_w1dCzbn0YTOB6L1c" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
        
        <div class="subtitle">Lessons</div>
        <div class="list-group" style="margin-bottom: 100px;">
            <a class="list-group-item list-group-item-action list-group-item-success">Something Learned: ArcGIS linear referencing tools.</a>
            <a class="list-group-item list-group-item-action list-group-item-success">Something Learned: how to comunicate requirements cobered in the app to clients</a>
            <a class="list-group-item list-group-item-action list-group-item-primary">New tool learned/used: Figma</a>
            <a class="list-group-item list-group-item-action list-group-item-danger">Mistakes: designing graph or interfacez to difficult to the client</a>
            <a class="list-group-item list-group-item-action list-group-item-danger">Mistakes: designing solutions out of requirements, that then the client ask to develope more.</a>
            <a class="list-group-item list-group-item-action list-group-item-light">Things to investigate: database design - theory and tools.</a>
            <a class="list-group-item list-group-item-action list-group-item-light">Things to investigate: solutions design (specific to webapps and data processing).</a>
        </div>


    </main>
</body>

<script src="../../src/assets/dist/js/bootstrap.bundle.min.js"></script>

</html>