<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Castellari</title>

    <script src="../../src/assets/js/color-modes.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../../src/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Bebas+Neue&family=Inter&family=Oswald:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../src/style/general.css">
    <link rel="stylesheet" href="../../src/style/projectPage.css">

    

</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../index.html'">
            <!-- <img class="headerLogoImg" src="../../src/image/logo/logo_dc_hexagon_bg.png" alt=""> -->
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <menu class="navmenu">
            <button class="navbutton" onclick="javascript:location.href='../../index.html'">HOME</button>
            <button class="navbutton" onclick="javascript:location.href='../aboutme.html'">ME</button>
            <button class="navbutton" onclick="javascript:location.href='../cv.html'">WHAT I DO</button>
            <button class="navbutton" onclick="javascript:location.href='../projects.html'">WHAT I'VE DONE</button>
        </menu>
        <div class="headerNav">
            <div class="correo">agrimcastellari@gmail.com</div>
            <!-- <a href=""><img class="iconIG" src="../../../src/image/icon/instagram.png" alt=""></a> -->
            <a href="https://github.com/DiegoMCastellari"><img class="iconGH" src="../../src/image/icon/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/diegocastellari/"><img class="iconLI" src="../../src/image/icon/linkedin.png" alt=""></a>
            <!-- <a href="https://www.notion.so/Main-36df73c9a5134345b7807f99717bd5b5"><img class="iconLI" src="../../../src/image/icon/Notion-logo.svg.png" alt=""></a> -->
            <!-- <div class="headerContact"  onclick="javascript:location.href='contact.html'">Contact</div>
            <img class="headerLangImg" src="../../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='../esp/servicios.html'">-->
        </div> 
    </header>
    <main>

        <section class="title" style="background-image: url('../../src/image/projects/19_MetroGas_ProtocoloSD/metrogas.JPG');">
            <div class="title_data">
                <div class="name">SD Protocol</div>
                <div class="client">For: <a href="https://www.metrogas.com.ar/">Metrogas</a></div>
                <div class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></div>
                <div class="team"> Team:
                    <ul>
                        <li>Jorge Volpe - Project Director</li>
                    </ul>
                </div>
            </div>
            <div class="softwares">
                <img src="../../src/image/softwares/python.PNG" alt="">
                <img src="../../src/image/softwares/arcpy.PNG" alt="">
                <img src="../../src/image/softwares/arcgispro.PNG" alt="">
            </div>
        </section>

        <section class="intro">
            <div class="introText"> 
                <p>Due to a request from ENARGAS (National Gas Regulatory Entity), all the geographic data of facilities, pipelines and stations needed to be delivered in shapefile files with an already designed data structure (known as SD Protocol), with a specific name. The data provided by Metrogas was procesed building an ETL model, which transformed and saved the data from a FGDB to the requiered shapefiles.</p>
            </div>
        </section>

        <div class="subtitle">Process</div>
        <div class="container marketing">
            <!-- <hr class="featurette-divider"> -->
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Files Preparation<span class="text-body-secondary"></span></h2>
                    <p class="lead">All the data structure requested for each file was created in empty shapefiles. This files were used as data models to create the resulting files. Also a copy of this files were created insede a FGDB, to save the the data resulting from the ETL proceses, before creating the delivered shapefiles.
                </div>
                <div class="col-md-5">
                    <img src='../../src/image/projects/19_MetroGas_ProtocoloSD/fgdb.JPG' alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">ETL Process</span></h2>
                    <p class="lead">Jupyter notebooks with all the processing and transformation model were created. Each process read the original Metrogas data, processed it and saved it into the FGDB. The process included renaming columns names and creating new ones, encoding column's values acording to a given domain, cleanning dirty data, overlaying with other layers...
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../src/image/projects/19_MetroGas_ProtocoloSD/notebooks.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider" style="color:#212529">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Files Creation</span></h2>
                    <p class="lead">Finally the clean and structured data in the FGDB was saved into shapefiles, created with the structure of the empty ones, and a specific name, containing the name of the company, the name of the object, the date of the delivery, etc.
                    </p> 
                </div>
                <div class="col-md-5">
                    <img src="../../src/image/projects/19_MetroGas_ProtocoloSD/shapefiles.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <!-- <div class="subtitle">Result</div>
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <p class="lead">Explain result and client respond
                </div>
                <div class="col-md-5">
                    <img src="http://drive.google.com/uc?export=view&id=1SyskgE31e8VYrgv_w1dCzbn0YTOB6L1c" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            <hr class="featurette-divider">
        </div> -->
        
        <div class="subtitle">Lessons</div>
        <div class="list-group" style="margin-bottom: 100px;">
            <a class="list-group-item list-group-item-action list-group-item-success">With arcpy, use sanitize_columns=True to keep data structure when saving a Feature Class</a>
            <a class="list-group-item list-group-item-action list-group-item-success">With arcpy, use the in_memory saving not to create a lot of Feature Classes in the FGDB</a>
        </div>
    </main>
</body>

<script src="../../src/assets/dist/js/bootstrap.bundle.min.js"></script>

</html>