<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index_esp.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <div>
            <div class="headerTitle" onclick="javascript:location.href='../proyectos.html'">Proyectos</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
            <!-- <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./esp/contacto.html'"> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">App Inventario Vial</div>
            <div class="contractor">With: <a href="http://www.consultoraigeo.com.ar/">IGEO</a></div>
            <div class="client">For: <a href="https://corredoresvialessa.com.ar/corredores-viales-nacionales">Corredores Viales S.A.</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/python.PNG" alt="">
                <img src="../../../src/image/softwares/arcpy.PNG" alt="">
                <img src="../../../src/image/softwares/arcgispro.PNG" alt="">
                <img src="../../../src/image/softwares/arcenterprise.PNG" alt="">
                <img src="../../../src/image/softwares/azure.PNG" alt="">
                <img src="../../../src/image/softwares/sqlserver.PNG" alt="">
                <img src="../../../src/image/softwares/figma.PNG" alt="">
                <img src="../../../src/image/softwares/dbdiagram.PNG" alt="">
                <img src="../../../src/image/softwares/drawio.PNG" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/igeoVideo/intro.PNG');"></div>
            <div class="introText"> 
                <p>En función a la necesidad de CVSA de contar con un sistema para un mejor manejo de los datos de inventario, se propuso el desarrollo de una aplicación que permitiera la visualización y explorarión de los datos, tanto vectoriales como fotográficos, de todo el inventario vial, y su creación, edición y eliminación.</p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/exploration.PNG');"></div>
            <div class="subtitle">Exploración</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/exploration-solutions.PNG');"></div>
                <div class="explanation"> 
                    <p>Se realizó un estudio de documentación y aplicaciones de soluciones implementadas con éxito para fines similares, con el objetivo de obtener ideas y conocimientos sobre necesidades y requerimientos. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/exploration-data.PNG');"></div>
                <div class="explanation">
                    <p>Realizamos un análisis exploratorio de datos para conocer cual era la información a mostrar y con la cual desarrollar la aplicación. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/exploration-meeting.PNG');"></div>
                <div class="explanation">
                    <p>Se llevó a cabo un primer encuentro con los clientes, con el fin de relevar las espectativas y requerimientos que inicialmente tenían. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/app-design.PNG');"></div>
            <div class="subtitle">Diseño de la aplicación</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/app-design-functions.PNG');"></div>
                <div class="explanation">
                    <p>Se definieron los requerimientos funcionales que surgieron de la conbinación de la exploración de soluciones similares y lo relevado de la entrevista con el cliente.</p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/app-design-mockup.PNG');"></div>
                <div class="explanation"> 
                    <p>Como primera presentación de la solución propuesta, se confeccionó una maqueta de la aplicación a desarrollar, la cual cubría todos los requerimietos funcionales. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/app-design-team-meeting.PNG');"></div>
                <div class="explanation"> 
                    <p> Se presentó la propuesta a los diseñadores gráficos, para la corrección de su estética y UX; y a los desarrolladore, para detectar posibles problemas lógicos y saber que lo diseñado es posible de desarrollar. </p> 
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/validation.PNG');"></div>
            <div class="subtitle">Validación de la app con el cliente</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/validation-client-presentation-meeting.PNG');"></div>
                <div class="explanation">
                    <p>Se presentó la propuesta al cliente, para su validación. A partir de las observaciones realizadas se realizaron las correcciones en la maqueta y se refinaron los reuqrimientos funcionales.</p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/validation-user-stories-report.PNG');"></div>
                <div class="explanation"> 
                    <p> Aprobado el diseño de la app, se detallaron las historias de usuarios para el desarrollo de la aplicación</p> 
                </div>
            </div>            
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/desing.PNG');"></div>
            <div class="subtitle">Diseño de modelos y servicios</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/desing-data-model-service.PNG');"></div>
                <div class="explanation">
                    <p>Con la aplicación ya diseñada, se prosiguió al diseño del modelo de datos, diseño de los servicios de mapas, webmaps, geoservicios, y todo lo necesario para el desarrolo de la aplicación. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/data-processing.PNG');"></div>
            <div class="subtitle">Procesamiento y publicación de datos</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/data-processing-cleanning-analysis.PNG');"></div>
                <div class="explanation">
                    <p> Se limpiaron y procesaron los datos facilitados por el cliente, y se almacenaron en la base de datos, previamente creada con la estructura diseñada. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/data-processing-map-service-webmap.PNG');"></div>
                <div class="explanation">
                    <p> Se publicaron los servicios de mapas a partir de vistas a la base de datos, a partir de los cuales se crearon los webmaps necesarios para la aplicación. También se creó un servicio de mapa para el ABM a partir de las capas. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/data-processing-app-developement.PNG');"></div>
                <div class="explanation">
                    <p> Con los servicios, webmaps e historias de usuarios, la aplicación pasó a desarrollo, quedando a la espera de que vuelva para su testeo </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/igeoAppInv/delivery-app.PNG');"></div>
            <div class="subtitle">Entrega de la aplicación</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/igeoAppInv/delivery-app-user-guide-presentation.PNG');"></div>
                <div class="explanation">
                    <p> Testeada la app y pasada a producción, se realizó la inducción a la misma al cliente, junto con la entrega del manual de usuario. </p>
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>