<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>
    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index_esp.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <div>
            <div class="headerTitle" onclick="javascript:location.href='../proyectos.html'">Proyectos</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
            <!-- <img class="headerLangImg" src="../src/image/icon/flagESP.png" alt="" onclick="javascript:location.href='./esp/contacto.html'"> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">Procesamiento y visualización de datos censales.</div>
            <div class="contractor"></div>
            <div class="client">Para: <a href="https://www.nilus.co/">Nilus</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/python.PNG" alt="">
                <img src="../../../src/image/softwares/Geopandas.PNG" alt="">
                <img src="../../../src/image/softwares/plotly.PNG" alt="">
                <img src="../../../src/image/softwares/matplotlib.PNG" alt="">
                <img src="../../../src/image/softwares/redatam.PNG" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/nilus/nilus-intro.PNG');"></div>
            <div class="introText"> 
                <p>Se requería alguna manera para poder determinar si los objetivos de la empresa estaban siendo cumplidos. Se determinó confeccinar gráficos con los cuales poder determinar dicha situación, o si por el contrario, las tareas que se estaban llevando a cabo se alejaban de la visión de la empresa. </p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/nilus/map-data-points-polygons.PNG');"></div>
            <div class="subtitle">Recolección y procesamiento de datos</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/nilus/socio-economic-data.PNG');"></div>
                <div class="explanation"> 
                    <p>Para el análisis y toma de decisión eran necesarios datos socio-económicos, por lo cual se descargaron datos censales del INDEC por medio de la REDATAM. </p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/nilus/delivey-point.PNG');"></div>
                <div class="explanation">
                    <p>Fueron provistos por Nilus los datos de los puntos de entrega con los cuales contaban de momento, sobre los cuales se realizó una limpieza. </p>
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/nilus/gis-data-overlay-spatial-join.PNG');"></div>
                <div class="explanation">
                    <p>Se cruzaron los datos de los puntos de entrega con los datos socioeconómicos, como desempleo, nivel educativo, calidad de viviendas, etc. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/nilus/data-graphics-plots-matplotlib-plotly.PNG');"></div>
            <div class="subtitle">Visualización de datos</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/nilus/map-matplotlib-point.polygons.PNG');"></div>
                <div class="explanation"> 
                    <p>Para poder visualizar la distribución espacial de los puntos respecto a las distintas variables socio-económicas se confecionaron mapas.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/nilus/data-graphic-bar-chart.png');"></div>
                <div class="explanation">
                    <p>Se confeccionaron histogramas, scatter plots y gráficos de barras para poder visualizar la distribución de una variable de los puntos de entrega o comparar unas variables contra otras, siempre respecto al total de los radios censales. </p>
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>