<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../src/style/general.css">
    <link rel="stylesheet" href="../../../src/style/projectPage.css">
</head>
<body>

    <header>
        <div class="headerLogo" onclick="javascript:location.href='../../../index_esp.html'">
            <img class="headerLogoImg" src="../../../src/image/logo/logo_dc_hexagon_bg.png" alt="">
            <div class="headerLogoText">DIEGO CASTELLARI</div>
        </div>
        <div>
            <div class="headerTitle" onclick="javascript:location.href='../proyectos.html'">Proyectos</div>
        </div>
        <div class="headerNav">
            <!-- <div class="headerContact"  onclick="javascript:location.href='../contacto.html'">Contacto</div> -->
        </div>
    </header>
    <main>
        <section class="title">
            <div class="text">Relevamiento topográfico para proyecto de paisajismo</div>
            <div class="contractor"></div>
            <div class="client">For: <a href="http://www.estudiothays.com.ar/">Estudio Thays</a></div>
            <div class="softwares">
                <img src="../../../src/image/softwares/civil3d.png" alt="">
            </div>
        </section>
        <section class="intro">
            <div class="introImg" style="background-image: url('../../../src/image/projects/thays/thays-design-proyect.PNG');"></div>
            <div class="introText"> 
                <p>El proyecto comprendía el diseño del parque, la contrucción de una casa de campo y una cancha de tenis, por lo cual se requirió el relevamiento de los hechos existentes para definir la correcta hubicación de los alambrados perimetrales.<br>Se realizó el relevamiento topográfico, sobre lo cual se ajustó el proyecto, y finalmente se colocaron las estacas en los vértices del predio a emplear. </p> 
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/thays/Thays.PNG');"></div>
            <div class="subtitle">Relevamiento</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/thays/surveeyin-total-station-cross.PNG');"></div>
                <div class="explanation"> 
                    <p>Se realizó un relevamiento del lugar, empleando una Estación Total Trimble M3, para lo cual inicialmente se construyó un sistema de referencias materializado a partir de cuatro estacas. Se realizaron algunas mediciones con cinta métrica, de algunas edificaciones.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/thays/surveying-cad-drawing.PNG');"></div>
                <div class="explanation">
                    <p>Finalizado el relevamiento, se descargaron los datos y se confección un plano de los hechos existentes relevados, el cual fue utilizado por el diseñador para ajustar el proyecto. </p>
                </div>
            </div>
        </section>
        <section class="chapter">
            <div class="chapterImg" style="background-image: url('../../../src/image/projects/thays/surveying-stakes-line.PNG');"></div>
            <div class="subtitle">Replanteo</div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/thays/surveying-total-station-trimble-m3.PNG');"></div>
                <div class="explanation"> 
                    <p>Ajustado el proyecto, se realizó un replanteo de cada uno de los vértices de los alambrados y tranqueras a colocar, materializando cada uno con una estaca.</p> 
                </div>
            </div>
            <div class="part">
                <div class="picture" style="background-image: url('../../../src/image/projects/thays/surveying-stake-number.PNG');"></div>
                <div class="explanation"> 
                    <p>Las estacas de madera de 5cmx5cm por 120cm de alto, poseían el nombre asignado según el plano escrito sobre la superficie, y una lámina plástica adjunta a la misma.</p> 
                </div>
            </div>
        </section>
    </main>

    
</body>
</html>